[submodule "packs/fluent"]
	path = packs/fluent
	url = https://github.com/microsoft/fluentui-emoji
[submodule "packs/twemoji"]
	path = packs/twemoji
	url = https://github.com/jdecked/twemoji
[submodule "packs/noto"]
	path = packs/noto
	url = https://github.com/googlefonts/noto-emoji
[submodule "packs/mutant-remix"]
	path = packs/mutant-remix
	url = https://github.com/infi/mutant-remix-bin
